services:
  # --- El servicio de tu App (PHP + Apache) ---
  app:
    build: . # Construye usando el Dockerfile en esta carpeta
    container_name: dentidesk_app
    ports:
      # Expone tu app en http://localhost:8080
      - "8080:80"
    volumes:
      - ./backend:/var/www/html/proyectos/finanzas-dentidesk/backend
      - ./frontend:/var/www/html/proyectos/finanzas-dentidesk/frontend
    environment:
      # Variables para que PHP (config/database.php) se conecte a la BD
      DB_HOST: "db"
      DB_NAME: "finanzas_db"
      DB_USER: "root"
      DB_PASS: "root_password_seguro"
    depends_on:
      - db 

  # --- El servicio de la Base de Datos (MySQL) ---
  db:
    image: mysql:8.0
    container_name: dentidesk_db
    environment:
      MYSQL_ROOT_PASSWORD: "root_password_seguro"
      MYSQL_DATABASE: "finanzas_db"
    volumes:
      # Ubicacion de el script de base de datos
      - ./backend/database:/docker-entrypoint-initdb.d
    ports:
      # (Opcional) Expone la BD en tu PC en el puerto 3307
      - "3307:3306"